<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  <!--MathJax-->
  <script type="text/x-mathjax-config"> 
      MathJax.Hub.Config({ 
      jax: ["input/TeX","output/HTML-CSS"], 
      extensions: ["tex2jax.js"], 
      tex2jax: { 
      inlineMath: [ ['$','$'], ["\\(","\\)"] ], 
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ], 
      processEscapes: true 
      }, 
      }); 
    </script> 

    <!-- config from
         http://cwoebker.com/posts/latex-math-magic
      -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
      });

      MathJax.Hub.Queue(function() {
      var all = MathJax.Hub.getAllJax(), i;
      for(i=0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
      }
      });
    </script>

    <!-- the following loads MathJax; place at bottom to improve overall
         page load speed but delay LaTeX rendering -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>

  {% include google_analytics.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
              <!-- This will update the pages if you add them to _config.yml -->
              {% for page in site.pages_list %}
                 &nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
              {% endfor %}
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
